<div class="mapping">
    <div class="mapping-header">
        <div>
        </div>
        <div class="input-with-label">
            <span>Edge label:</span>
            <input type="text">
        </div>
        <button class="delete-mapping-button" (click)="onDelete()">Delete</button>
    </div>
    <div class="mapping-header">
        <div class="input-with-label">
            <span>FK table:</span>
            <input type="text">
        </div>
        <div class="input-with-label">
            <span>FK column:</span>
            <input type="text">
        </div>
    </div>
    <div class="mapping-header">
        <div class="input-with-label">
            <span>Source node:</span>
            <input type="text">
        </div>
        <div class="input-with-label">
            <span>Target node:</span>
            <input type="text">
        </div>
    </div>

</div>
