<div class="mapping">
    <div class="mapping-header">
        <div class="input-with-label">
            <span>Foreign key table:</span>
            <input type="text" [(ngModel)]="foreignKeyTable" #ctrl="ngModel" (input)="onUpdate()">
        </div>
        <div class="input-with-label">
            <span>Edge label:</span>
            <input type="text" [(ngModel)]="edgeLabel" #ctrl="ngModel" (input)="onUpdate()">
        </div>
        <button class="delete-mapping-button" (click)="onDelete()">Delete</button>
    </div>
    <div class="mapping-header">
        <div class="input-with-label">
            <span>Source node table:</span>
            <input type="text" [(ngModel)]="fromTable" #ctrl="ngModel" (input)="onUpdate()">
        </div>
        <div class="input-with-label">
            <span>Target node table:</span>
            <input type="text" [(ngModel)]="toTable" #ctrl="ngModel" (input)="onUpdate()">
        </div>
    </div>
</div>
