table {
    border-collapse:separate;
    border:solid black 1px;
    width: 100%;
    table-layout: fixed;
}

td, th {
    border:solid black 1px;
    padding: 2px;
}

.schemaContainer {
    overflow-y: scroll;
    height: 500px;
    border:solid black 1px;
    padding: 5px;
}

.tableContainer {
    margin-bottom: 10px;
}
