.migration-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15px;
    border-collapse: collapse;
    box-sizing: border-box;
}

.migration-grid > div {
    border-spacing: 0px;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
}

.mapping {
    border: 1px solid black;
    margin: 10px;
    padding: 5px
}

.mapping-header {
    font-weight: bold;
    display: grid;
    grid-template-columns: 45% 45% 10%;
}

.input-with-label {
    margin: 1px;

    display: grid;
    grid-template-columns: 50% 50%;
}

.input-with-label > span {
    text-align: right;
    margin-right: 2px;
}

.empty-row {
    grid-column-end: 4;
    height: 15px;;
}

.column-mappings-header {
    display: grid;
    text-align: center;
    font-weight: bold;
    grid-template-columns: 45% 45% 10%;
}

.column-mappings {
    margin: 10px
}

.delete-mapping-button {
    width: fit-content;
    margin: auto;
}

.twocolgrid {
    display: grid;
    grid-template-columns: 50% 50%;
}
.threecolgrid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.grid-area-header {
    margin-top: 2px;
}
